{% load static %}
{% include "base/base.html" %}
<body class="tt-magic-cursor">

	<!-- Preloader Start -->
	<div class="preloader">
		<div class="loading-container">
			<div class="loading"></div>
			<div id="loading-icon"><img src="{% static 'images/loader.svg' %}" alt=""></div>
		</div>
	</div>
	<!-- Preloader End -->

	<!-- Magic Cursor Start -->
	<div id="magic-cursor">
		<div id="ball"></div>
	</div>
	<!-- Magic Cursor End -->

	{% include 'components/nav.html' %}

	<!-- Page Header Section Start -->
	<div class="page-header parallaxie">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Subpage Header Box Start -->
					<div class="page-header-box">
						<h1 class="text-anime">About Us</h1>
						<nav class="wow fadeInUp" data-wow-delay="0.25s">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">About us</li>
							</ol>
						</nav>
					</div>
					<!-- Subpage Header Box End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header Section End -->	
	
	<!-- About Section Start -->
	<div class="about-us">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<!-- About Left Image Start -->
					<div class="about-images">
						<div class="about-video">
							<figure class="reveal image-anime">
								<img src="{% static 'images/video-img-2.jpg' %}" alt="">
							</figure>

							<div class="video-play-button">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/h2A-r9b-ihQ" frameborder="0" allowfullscreen></iframe>

								</a>
							</div>
						</div>

						<div class="about-image">
							<figure class="reveal image-anime">
								<img src="{% static 'images/video-img-1.jpg' %}" alt="">
							</figure>
						</div>
					</div>
					<!-- About Left Image End -->
				</div>
				<div class="col-lg-6">
					<!-- About Content Start -->
					<div class="about-content">
						<!-- Section Title Start -->
						<div class="section-title">
							<h3 class="wow fadeInUp">About DAN MAMA HOMES</h3>
							<h2 class="text-anime">The Future of Living</h2>
						</div>
						<!-- Section Title End -->

						<!-- About Content Body Start -->
						<div class="about-content-body">
							<p class="wow fadeInUp text-justify" data-wow-delay="0.5s">At Dan Mama Smart Homes Ltd., we are shaping the future of real estate through innovation, technology, and sustainability. Our mission is to build modern, smart, and eco-friendly communities that cater to the evolving needs of homeowners and investors.

							With a focus on smart home automation, renewable energy solutions, and premium security, we deliver real estate projects that provide comfort, luxury, and high ROI. Our flagship project, Dan Mama Smart City in Orozo, is a testament to our vision—offering a blend of futuristic design and smart living experiences. </p>

							<ul>
								<li class="wow fadeInUp" data-wow-delay="0.75s">
									<div class="icon-box"><img src="{% static 'images/icon-about-1.svg' %}" alt=""></div>
									<span>Smart Home Design</span>
								</li>

								<li class="wow fadeInUp" data-wow-delay="1s">
									<div class="icon-box"><img src="{% static 'images/icon-about-2.svg' %}" alt=""></div>
									<span>Beautiful Scene Around</span>
								</li>

								<li class="wow fadeInUp" data-wow-delay="1.25s">
									<div class="icon-box"><img src="{% static 'images/icon-about-3.svg' %}" alt=""></div>
									<span>Exceptional Lifestyle</span>
								</li>

								<li class="wow fadeInUp" data-wow-delay="1.5s">
									<div class="icon-box"><img src="{% static 'images/icon-about-4.svg' %}" alt=""></div>
									<span>Complete 24/7 Security</span>
								</li>
							</ul>
						</div>
						<!-- About Content Body End -->

					</div>
					<!-- About Content End -->
				</div>
			</div>
		</div>
	</div>
	<!-- About Section End -->

	<!-- How It Work Section Start -->
	<div class="how-it-works">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Section Title Start -->
					<div class="section-title">
						<h3 class="wow fadeInUp">How it works</h3>
						<h2 class="text-anime">Find a Perfect Home</h2>
					</div>
					<!-- Section Title End -->
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3 col-md-6">
					<!-- How it Work Item Start -->
					<div class="how-it-work-item wow fadeInUp" data-wow-delay="0.25s">
						<div class="icon-box">
							<img src="{% static 'images/icon-how-1.svg' %}" alt="">
						</div>

						<h3>Our Vision</h3>
						<p>
							To be the foremost real estate developer in Nigeria, known for creating smart, sustainable, and secure communities that enhance the quality of life for our clients.
						</p>
					</div>
					<!-- How it Work Item End -->
				</div>

				<div class="col-lg-3 col-md-6">
					<!-- How it Work Item Start -->
					<div class="how-it-work-item wow fadeInUp" data-wow-delay="0.5s">
						<div class="icon-box">
							<img src="{% static 'images/icon-how-2.svg' %}" alt="">
						</div>

						<h3>Our Vision</h3>
						<p>
							To deliver innovative and high-quality real estate solutions that meet the evolving needs of our clients, while maintaining a commitment to sustainability, customer satisfaction, and community development.
						</p>
					</div>
					<!-- How it Work Item End -->
				</div>

				<div class="col-lg-3 col-md-6">
					<!-- How it Work Item Start -->
					<div class="how-it-work-item wow fadeInUp" data-wow-delay="0.75s">
						<div class="icon-box">
							<img src="{% static 'images/icon-how-3.svg' %}" alt="">
						</div>

						<h3>Our Role</h3>
						<p>
							Our basic role at Dan Mama Homes &
							Properties Limited is to secure suitable
							house for everyone, irrespective of social
							class, income level and all else.</p>
					</div>
					<!-- How it Work Item End -->
				</div>

				<div class="col-lg-3 col-md-6">
					<!-- How it Work Item Start -->
					<div class="how-it-work-item wow fadeInUp" data-wow-delay="1s">
						<div class="icon-box">
							<img src="{% static 'images/icon-how-4.svg' %}" alt="">
						</div>

						<h3>Take the keys</h3>
						<p>Duis pulvinar metus elit, ut aliquam est sollicitudin. est interdum.</p>
					</div>
					<!-- How it Work Item End -->
				</div>
			</div>
		</div>
	</div>
	<!-- How It Work Section End -->

	<!-- Gallery Section Start -->
	<div class="photo-gallery">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Section Title Start -->
					<div class="section-title">
						<h3 class="wow fadeInUp">Gallery</h3>
						<h2 class="text-anime">Our Photo Gallery</h2>
					</div>
					<!-- Section Title End -->
				</div>
			</div>

			<div class="row project-gallery-items">
				<div class="col-lg-3 col-6">
					<!-- Gallery Item Start -->
					<div class="gallery-item wow fadeInUp" data-wow-delay="0.25s">
						<a href="{% static 'images/post-1.jpg' %}">
							<figure class="image-anime">
								<img src="{% static 'images/post-1.jpg' %}" alt="">
							</figure>
						</a>
					</div>
					<!-- Gallery Item End -->
				</div>

				<div class="col-lg-3 col-6">
					<!-- Gallery Item Start -->
					<div class="gallery-item wow fadeInUp" data-wow-delay="0.5s">
						<a href="{% static 'images/post-2.jpg' %}">
							<figure class="image-anime">
								<img src="{% static 'images/post-2.jpg' %}" alt="">
							</figure>
						</a>
					</div>
					<!-- Gallery Item End -->
				</div>

				<div class="col-lg-3 col-6">
					<!-- Gallery Item Start -->
					<div class="gallery-item wow fadeInUp" data-wow-delay="0.75s">
						<a href="{% static 'images/post-3.jpg' %}">
							<figure class="image-anime">
								<img src="{% static 'images/post-3.jpg' %}" alt="">
							</figure>
						</a>
					</div>
					<!-- Gallery Item End -->
				</div>

				<div class="col-lg-3 col-6">
					<!-- Gallery Item Start -->
					<div class="gallery-item wow fadeInUp" data-wow-delay="1s">
						<a href="{% static 'images/post-4.jpg' %}">
							<figure class="image-anime">
								<img src="{% static 'images/post-4.jpg' %}" alt="">
							</figure>
						</a>
					</div>
					<!-- Gallery Item End -->
				</div>

				<div class="col-lg-3 col-6">
					<!-- Gallery Item Start -->
					<div class="gallery-item wow fadeInUp" data-wow-delay="1.25s">
						<a href="{% static 'images/post-5.jpg' %}">
							<figure class="image-anime">
								<img src="{% static 'images/post-5.jpg' %}" alt="">
							</figure>
						</a>
					</div>
					<!-- Gallery Item End -->
				</div>

				<div class="col-lg-3 col-6">
					<!-- Gallery Item Start -->
					<div class="gallery-item wow fadeInUp" data-wow-delay="1.5s">
						<a href="{% static 'images/post-6.jpg' %}">
							<figure class="image-anime">
								<img src="{% static 'images/post-6.jpg' %}" alt="">
							</figure>
						</a>
					</div>
					<!-- Gallery Item End -->
				</div>

				<div class="col-lg-3 col-6">
					<!-- Gallery Item Start -->
					<div class="gallery-item wow fadeInUp" data-wow-delay="1.75s">
						<a href="{% static 'images/post-7.jpg' %}">
							<figure class="image-anime">
								<img src="{% static 'images/post-7.jpg' %}" alt="">
							</figure>
						</a>
					</div>
					<!-- Gallery Item End -->
				</div>

				<div class="col-lg-3 col-6">
					<!-- Gallery Item Start -->
					<div class="gallery-item wow fadeInUp" data-wow-delay="2s">
						<a href="{% static 'images/post-8.jpg' %">
							<figure class="image-anime">
								<img src="{% static 'images/post-8.jpg' %}" alt="">
							</figure>
						</a>
					</div>
					<!-- Gallery Item End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Gallery Section End -->

	<!-- Infobar Section Start -->
	<div class="infobar-cta">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Infobar Box Start -->
					<div class="infobar-box">
						<div class="row align-items-center">
							<div class="col-lg-7">
								<!-- Infobar Content Start -->
								<div class="cta-content">
									<h2 class="text-anime">Need Help? Talk to Our Expert.</h2>
									<p class="wow fadeInUp">Duis pulvinar metus elit, ut aliquam est sollicitudin finibus. Integer lobortis est interdum. Suspendisse nunc est, varius quis fringilla ac, commodo a ante.</p>
								</div>
								<!-- Infobar Content End -->
							</div>
			
							<div class="col-lg-5">
								<!-- CTA Button Start -->
								<div class="cta-button">
									<a href="#" class="btn-default btn-border"><i class="fa-solid fa-phone-volume"></i>+234-08033039992</a>
									<a href="#" class="btn-default">Contact Now</a>
								</div>
								<!-- CTA Button End -->
							</div>
						</div>
					</div>
					<!-- Infobar Box End -->
				</div>
			</div>			
		</div>
	</div>
	<!-- Infobar Section End -->

	<!-- Testimonial Section Start -->
	<div class="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Section Title Start -->
					<div class="section-title">
						<h3 class="wow fadeInUp">Testimonial</h3>
						<h2 class="text-anime">What our Client Says</h2>
					</div>
					<!-- Section Title End -->
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<!-- Testimonial Carousel Start -->
					<div class="testimonial-slider">
						<div class="swiper">
							<div class="swiper-wrapper">
								<!-- Testimonial Slide Start -->
								<div class="swiper-slide">
									<div class="testimonial-slide">
										<div class="testimonial-rating">
											<img src="{% static 'images/icon-rating.svg' %}" alt="">
										</div>

										<div class="testimonial-content">
											<p>I acquired my property through Adron Homes in Asejire Ibadan, and I can attest to the authenticity of the land, having received all the necessary documents. I highly recommend purchasing from Adron Homes and properties.</p>
										</div>

										<div class="testimonial-author-info">
											<h3>- Folashade Oluwatotin</h3>
											<figure class="image-anime">
												<img src="{% static 'images/author-1.jpg' %}" alt="">
											</figure>
										</div>
									</div>
								</div>
								<!-- Testimonial Slide End -->

								<!-- Testimonial Slide Start -->
								<div class="swiper-slide">
									<div class="testimonial-slide">
										<div class="testimonial-rating">
											<img src="{% static 'images/icon-rating.svg' %}" alt="">
										</div>

										<div class="testimonial-content">
											<p>I purchased land from Adron Homes upon my return to Nigeria. I have successfully built my home, and I currently reside in it. I endorse acquiring properties from Adron Homes, as living within their estates offers a peaceful environment.</p>
										</div>

										<div class="testimonial-author-info">
											<h3>- Omotolani Balogun</h3>
											<figure class="image-anime">
												<img src="{% static 'images/author-2.jpg' %}" alt="">
											</figure>
										</div>
									</div>
								</div>
								<!-- Testimonial Slide End -->

								<!-- Testimonial Slide Start -->
								<div class="swiper-slide">
									<div class="testimonial-slide">
										<div class="testimonial-rating">
											<img src="{% static 'images/icon-rating.svg' %}" alt="">
										</div>

										<div class="testimonial-content">
											<p>I have a client in the diaspora who made a purchase from Adron Homes. I am currently here to collect the allocation document on behalf of my client, and I am pleased with the smooth process of getting the land allocated. I want to express my satisfaction with the Adron so far.</p>
										</div>

										<div class="testimonial-author-info">
											<h3>- Agoola Olatunde</h3>
											<figure class="image-anime">
												<img src="{% static 'images/author-3.jpg' %}" alt="">
											</figure>
										</div>
									</div>
								</div>
								<!-- Testimonial Slide End -->

								<!-- Testimonial Slide Start -->
								<div class="swiper-slide">
									<div class="testimonial-slide">
										<div class="testimonial-rating">
											<img src="{% static 'images/icon-rating.svg' %}" alt="">
										</div>

										<div class="testimonial-content">
											<p>Duis pulvinar metus elit, ut aliquam est sollicitudin finibus. Integer lobortis est interdum. Suspendisse nunc est, varius quis fringilla ac, commodo a Praesent non elit cursus, aliquam sapien quis, dictum tortor. Vestibulum eu nisl est.</p>
										</div>

										<div class="testimonial-author-info">
											<h3>- Lisa Ray</h3>
											<figure class="image-anime">
												<img src="{% static 'images/author-4.jpg' %}" alt="">
											</figure>
										</div>
									</div>
								</div>
								<!-- Testimonial Slide End -->
							</div>

							<div class="swiper-pagination"></div>
						</div>
					</div>
					<!-- Testimonial Carousel End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Testimonial Section End -->

	<!-- Stat Counter Section Start -->
	<div class="stat-counter">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<!-- Counter Item Start -->
					<div class="counter-item wow fadeInUp" data-wow-delay="0.25s">
						<div class="icon-box">
							<img src="{% static 'images/icon-counter-1.svg' %}" alt="">
						</div>

						<h3><span class="counter">500</span> +</h3>
						<p>Sold Houses</p>
					</div>
					<!-- Counter Item End -->
				</div>

				<div class="col-lg-3 col-md-6">
					<!-- Counter Item Start -->
					<div class="counter-item wow fadeInUp" data-wow-delay="0.5s">
						<div class="icon-box">
							<img src="{% static 'images/icon-counter-2.svg' %}" alt="">
						</div>

						<h3><span class="counter">710</span> +</h3>
						<p>Daily Listings</p>
					</div>
					<!-- Counter Item End -->
				</div>

				<div class="col-lg-3 col-md-6">
					<!-- Counter Item Start -->
					<div class="counter-item wow fadeInUp" data-wow-delay="0.75s">
						<div class="icon-box">
							<img src="{% static 'images/icon-counter-3.svg' %}" alt="">
						</div>

						<h3><span class="counter">840</span> +</h3>
						<p>Expert Agents</p>
					</div>
					<!-- Counter Item End -->
				</div>

				<div class="col-lg-3 col-md-6">
					<!-- Counter Item Start -->
					<div class="counter-item wow fadeInUp" data-wow-delay="1.0s">
						<div class="icon-box">
							<img src="{% static 'images/icon-counter-4.svg' %}" alt="">
						</div>

						<h3><span class="counter">20</span> +</h3>
						<p>Won Awards</p>
					</div>
					<!-- Counter Item End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Stat Counter Section End -->

	<!-- Our Partners Section Start -->
	<div class="our-partners">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Section Title Start -->
					<div class="section-title">
						<h3 class="wow fadeInUp">Clients</h3>
						<h2 class="text-anime">Our Valuable Clients</h2>
					</div>
					<!-- Section Title End -->
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3 col-6">
					<!-- Client Logo Start -->
					<div class="client-logo wow fadeInUp" data-wow-delay="0.25s">
						<figure>
							<img src="{% static 'images/client-1.png' %}" alt="">
						</figure>
					</div>
					<!-- Client Logo End -->
				</div>

				<div class="col-lg-3 col-6">
					<!-- Client Logo Start -->
					<div class="client-logo wow fadeInUp" data-wow-delay="0.5s">
						<figure>
							<img src="{% static 'images/client-2.png' %}" alt="">
						</figure>
					</div>
					<!-- Client Logo End -->
				</div>

				<div class="col-lg-3 col-6">
					<!-- Client Logo Start -->
					<div class="client-logo wow fadeInUp" data-wow-delay="0.75s">
						<figure>
							<img src="{% static 'images/client-3.png' %}" alt="">
						</figure>
					</div>
					<!-- Client Logo End -->
				</div>

				<div class="col-lg-3 col-6">
					<!-- Client Logo Start -->
					<div class="client-logo wow fadeInUp" data-wow-delay="1s">
						<figure>
							<img src="{% static 'images/client-4.png' %}" alt="">
						</figure>
					</div>
					<!-- Client Logo End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Our Partners Section End -->

	<!-- Our Agents Section Start -->
	<div class="our-agents">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Section Title Start -->
					<div class="section-title">
						<h3 class="wow fadeInUp">Our Agents</h3>
						<h2 class="text-anime">Real Estate Agents</h2>
					</div>
					<!-- Section Title End -->
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3 col-md-6">
					<!-- Agent Item Start -->
					<div class="agent-item wow fadeInUp" data-wow-delay="0.25s">
						<div class="agent-header">
							<!-- Agent Image Start -->
							<div class="agent-image">
								<figure class="image-anime">
									<img src="{% static 'images/agent-1.jpg' %}" alt="">
								</figure>
							</div>
							<!-- Agent Image End -->

							<!-- Agent Social Links Start -->
							<div class="agent-social-links">
								<ul>
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<!-- Agent Social Links End -->
						</div>

						<!-- Agent Info Start -->
						<div class="agent-body">
							<h3>Michael Brown</h3>
							<p>( Residential )</p>
						</div>
						<!-- Agent Info End -->
					</div>
					<!-- Agent Item End -->
				</div>

				<div class="col-lg-3 col-md-6">
					<!-- Agent Item Start -->
					<div class="agent-item wow fadeInUp" data-wow-delay="0.5s">
						<div class="agent-header">
							<!-- Agent Image Start -->
							<div class="agent-image">
								<figure class="image-anime">
									<img src="{% static 'images/agent-2.jpg' %}" alt="">
								</figure>
							</div>
							<!-- Agent Image End -->

							<!-- Agent Social Links Start -->
							<div class="agent-social-links">
								<ul>
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<!-- Agent Social Links End -->
						</div>

						<!-- Agent Info Start -->
						<div class="agent-body">
							<h3>Emily Johnson</h3>
							<p>( Apartment )</p>
						</div>
						<!-- Agent Info End -->
					</div>
					<!-- Agent Item End -->
				</div>

				<div class="col-lg-3 col-md-6">
					<!-- Agent Item Start -->
					<div class="agent-item wow fadeInUp" data-wow-delay="0.75s">
						<div class="agent-header">
							<!-- Agent Image Start -->
							<div class="agent-image">
								<figure class="image-anime">
									<img src="{% static 'images/agent-3.jpg'%}" alt="">
								</figure>
							</div>
							<!-- Agent Image End -->

							<!-- Agent Social Links Start -->
							<div class="agent-social-links">
								<ul>
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<!-- Agent Social Links End -->
						</div>

						<!-- Agent Info Start -->
						<div class="agent-body">
							<h3>David Wilson</h3>
							<p>( Residential )</p>
						</div>
						<!-- Agent Info End -->
					</div>
					<!-- Agent Item End -->
				</div>

				<div class="col-lg-3 col-md-6">
					<!-- Agent Item Start -->
					<div class="agent-item wow fadeInUp" data-wow-delay="1s">
						<div class="agent-header">
							<!-- Agent Image Start -->
							<div class="agent-image">
								<figure class="image-anime">
									<img src="{% static 'images/agent-4.jpg' %}" alt="">
								</figure>
							</div>
							<!-- Agent Image End -->

							<!-- Agent Social Links Start -->
							<div class="agent-social-links">
								<ul>
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<!-- Agent Social Links End -->
						</div>

						<!-- Agent Info Start -->
						<div class="agent-body">
							<h3>Jessica Anderson</h3>
							<p>( Offices )</p>
						</div>
						<!-- Agent Info End -->
					</div>
					<!-- Agent Item End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Our Agents Section End -->

	<!-- Footer Section Start -->
	
		{% include "components/footer.html"%}